.cont {
  background-color: rgb(234, 228, 228);
}
.logo {
  color: #0b2e4e;
  margin-top: 6px;
  font-size: 40px;
  font-weight: bold;
  text-decoration: none;
}
.buttons {
  margin: 10px;
}
.btn1 {
  background-color: #0052cc;
  color: white;
  border: none;
  font-size: 16px;
  border-radius: 4px;
  width: 84px;
  height: 45px;
  margin-right: 25px;
}
.btn2 {
  background-color: white;
  box-shadow: 5px 4px 0px 0px rgba(0, 82, 204, 0.98);
  -webkit-box-shadow: 5px 4px 0px 0px rgba(0, 82, 204, 0.98);
  -moz-box-shadow: 5px 4px 0px 0px rgba(0, 82, 204, 0.98);
  border-radius: 4px;
  font-size: 16px;

  color: black;
  width: 132px;
  height: 47px;
  border: 2px solid #0052cc;
}

.buttonDiv {
  justify-content: end;
}
